*
{
    box-sizing: border-box;
}
div:nth-child(odd){
    font-family: 'Roboto', sans-serif;
    width: 943.5px;
    height: 150px;
    left: 10px;
    top: 10px;
    background: #C4C4C4;
    padding-left: 10px;
    margin-bottom: 10px;


}
div:nth-child(even){
    font-family: 'Roboto', sans-serif;
    width: 629px;
    height: 150px;
    left: 10px;
    top: 170px;
    background: #C4C4C4;
    padding-left: 10px;
    margin-bottom: 10px;

}
.div1-h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 66px;
    margin: 0 auto;
    padding-top: 10px;
}
.div1-h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 49px;
    margin: 0 auto;

}
.div2-h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 49px;
    margin: 0 auto;
    padding-top: 10px;
}
.div2-h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    margin: 0 auto;

}
.div3-h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin: 0 auto;
    padding-top: 10px;
}
.div3-h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin: 0 auto;
}
.div4-h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 49px;
    margin: 0 auto;
    padding-top: 10px;
}
.div4-h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    margin: 0 auto;
}

